{
  "openapi": "3.1.0",
  "info": {
    "title": "Card Deck Builder Native API",
    "version": "1.0.0",
    "description": "digimon 卡组构建器的原生客户端接口。与网站共用账号、会话、卡组数据和业务规则；写入复用与网页相同的 service 层,不存在第二份共享卡池逻辑。\n\n固定前缀 /api/v1。JSON 为 snake_case;金额为日元数值,无报价为 null;时间为 RFC3339。除 GET /meta 和 POST /session 外均需 Bearer token;token 即 user.sessions 的会话 id,不接受 Cookie。所有响应带 Cache-Control: no-store。\n\n本文件由服务端仓库维护,描述已实现的行为。"
  },
  "servers": [
    {
      "url": "https://deck.raynefall.dev/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/meta": {
      "get": {
        "operationId": "getMeta",
        "summary": "匿名读取 API 版本和能力",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED / INVALID_CREDENTIALS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "REVISION_CONFLICT / ID_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "DECK_LOCKED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "REVISION_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "等待秒数"
              }
            }
          },
          "500": {
            "description": "SERVER_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/session": {
      "post": {
        "operationId": "login",
        "summary": "复用现有密码验证、邮箱/IP 限流和 30 天独立会话",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResult"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED / INVALID_CREDENTIALS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "REVISION_CONFLICT / ID_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "DECK_LOCKED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "REVISION_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "等待秒数"
              }
            }
          },
          "500": {
            "description": "SERVER_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          }
        },
        "security": []
      },
      "get": {
        "operationId": "getSession",
        "summary": "恢复当前会话",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED / INVALID_CREDENTIALS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "REVISION_CONFLICT / ID_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "DECK_LOCKED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "REVISION_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "等待秒数"
              }
            }
          },
          "500": {
            "description": "SERVER_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "logout",
        "summary": "只撤销当前 Bearer 会话",
        "responses": {
          "204": {
            "description": "会话已撤销"
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED / INVALID_CREDENTIALS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "REVISION_CONFLICT / ID_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "DECK_LOCKED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "REVISION_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "等待秒数"
              }
            }
          },
          "500": {
            "description": "SERVER_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cards": {
      "get": {
        "operationId": "listCards",
        "summary": "搜索名称/卡号;q_mode=effect 时同时搜索效果与特征。多颜色取交集,最多两色。",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardPage"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED / INVALID_CREDENTIALS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "REVISION_CONFLICT / ID_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "DECK_LOCKED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "REVISION_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "等待秒数"
              }
            }
          },
          "500": {
            "description": "SERVER_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh",
                "ja",
                "en"
              ],
              "default": "zh"
            }
          },
          {
            "name": "art_lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh",
                "ja",
                "en"
              ],
              "default": "ja"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "q_mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "effect"
              ],
              "default": "name"
            }
          },
          {
            "name": "color",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "maxItems": 2,
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "Red",
                  "Blue",
                  "Yellow",
                  "Green",
                  "Black",
                  "Purple",
                  "White"
                ]
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "canonical_type 值，与现有查询适配层映射，非翻译显示名"
          },
          {
            "name": "level",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 2,
              "maximum": 7
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 40
            }
          }
        ]
      }
    },
    "/cards/{card_id}": {
      "parameters": [
        {
          "name": "card_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "lang",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string",
            "enum": [
              "zh",
              "ja",
              "en"
            ],
            "default": "zh"
          }
        },
        {
          "name": "art_lang",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string",
            "enum": [
              "zh",
              "ja",
              "en"
            ],
            "default": "ja"
          }
        }
      ],
      "get": {
        "operationId": "getCard",
        "summary": "多语言卡牌详情",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDetail"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED / INVALID_CREDENTIALS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "REVISION_CONFLICT / ID_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "DECK_LOCKED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "REVISION_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "等待秒数"
              }
            }
          },
          "500": {
            "description": "SERVER_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/decks": {
      "get": {
        "operationId": "listDecks",
        "summary": "当前账号可读的全部卡组:自己的置顶、自己的其他、其他人的。朋友的卡组只读。",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeckList"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED / INVALID_CREDENTIALS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "REVISION_CONFLICT / ID_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "DECK_LOCKED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "REVISION_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "等待秒数"
              }
            }
          },
          "500": {
            "description": "SERVER_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDeck",
        "summary": "client_request_id 同时为新卡组 UUID；首次 201，同账号相同 id 重试 200 且不覆盖，其他账号冲突 409",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeckDetail"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED / INVALID_CREDENTIALS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "REVISION_CONFLICT / ID_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "DECK_LOCKED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "REVISION_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "等待秒数"
              }
            }
          },
          "500": {
            "description": "SERVER_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "201": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeckDetail"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeck"
              }
            }
          }
        }
      }
    },
    "/decks/{deck_id}": {
      "parameters": [
        {
          "name": "deck_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "lang",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string",
            "enum": [
              "zh",
              "ja",
              "en"
            ],
            "default": "zh"
          }
        },
        {
          "name": "art_lang",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string",
            "enum": [
              "zh",
              "ja",
              "en"
            ],
            "default": "ja"
          }
        }
      ],
      "get": {
        "operationId": "getDeck",
        "summary": "读取详情和编辑状态版本",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeckDetail"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED / INVALID_CREDENTIALS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "REVISION_CONFLICT / ID_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "DECK_LOCKED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "REVISION_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "等待秒数"
              }
            }
          },
          "500": {
            "description": "SERVER_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchDeck",
        "summary": "事务内核对版本、所有者和锁定后修改",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeckDetail"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED / INVALID_CREDENTIALS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "REVISION_CONFLICT / ID_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "DECK_LOCKED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "REVISION_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "等待秒数"
              }
            }
          },
          "500": {
            "description": "SERVER_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchDeck"
              }
            }
          }
        }
      }
    },
    "/decks/{deck_id}/cards/{card_id}": {
      "parameters": [
        {
          "name": "deck_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "card_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "lang",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string",
            "enum": [
              "zh",
              "ja",
              "en"
            ],
            "default": "zh"
          }
        },
        {
          "name": "art_lang",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string",
            "enum": [
              "zh",
              "ja",
              "en"
            ],
            "default": "ja"
          }
        }
      ],
      "put": {
        "operationId": "putDeckCard",
        "summary": "设置数量、设置已收集,或按共享拥有量增减。每次只接受一个命令;卡组中没有这张卡时 purchased / purchased_delta 返回 404。",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeckDetail"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED / INVALID_CREDENTIALS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "REVISION_CONFLICT / ID_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "DECK_LOCKED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "REVISION_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "等待秒数"
              }
            }
          },
          "500": {
            "description": "SERVER_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutCard"
              }
            }
          }
        }
      }
    },
    "/decks/{deck_id}/export": {
      "parameters": [
        {
          "name": "deck_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "lang",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string",
            "enum": [
              "zh",
              "ja",
              "en"
            ],
            "default": "zh"
          }
        },
        {
          "name": "art_lang",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string",
            "enum": [
              "zh",
              "ja",
              "en"
            ],
            "default": "ja"
          }
        }
      ],
      "get": {
        "operationId": "exportDeck",
        "summary": "调用现有 canonical text 导出，数码蛋优先；不增加虚构格式枚举",
        "responses": {
          "200": {
            "description": "卡组文本",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED / INVALID_CREDENTIALS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "REVISION_CONFLICT / ID_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "DECK_LOCKED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "REVISION_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "等待秒数"
              }
            }
          },
          "500": {
            "description": "SERVER_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "id",
          "display_name",
          "email"
        ],
        "additionalProperties": false
      },
      "Owner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "is_me": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "display_name",
          "is_me"
        ],
        "additionalProperties": false
      },
      "Meta": {
        "type": "object",
        "properties": {
          "api_version": {
            "const": "1"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "已实现的能力名:session、cards、decks、deck_write、pool_shared_held、export_text。名称只增不改。"
          }
        },
        "required": [
          "api_version",
          "capabilities"
        ],
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "INVALID_INPUT",
                  "INVALID_CREDENTIALS",
                  "UNAUTHENTICATED",
                  "FORBIDDEN",
                  "NOT_FOUND",
                  "ID_CONFLICT",
                  "REVISION_CONFLICT",
                  "REVISION_REQUIRED",
                  "DECK_LOCKED",
                  "RATE_LIMITED",
                  "SERVER_ERROR"
                ],
                "description": "客户端按 code 分支,不按 HTTP 状态码分支:401 有两个 code,409 有两个。"
              },
              "message": {
                "type": "string"
              },
              "request_id": {
                "type": "string",
                "description": "每个响应一个 UUID,同时写入服务端日志。用户可以照着屏幕念出来。"
              }
            },
            "required": [
              "code",
              "message",
              "request_id"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "Session": {
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/Account"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "account",
          "expires_at"
        ],
        "additionalProperties": false
      },
      "LoginResult": {
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/Account"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "token": {
            "type": "string"
          }
        },
        "required": [
          "account",
          "expires_at",
          "token"
        ],
        "additionalProperties": false
      },
      "Login": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "email",
          "password"
        ],
        "additionalProperties": false
      },
      "CardSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "canonical_type": {
            "type": "string",
            "description": "布局依据这一项,不依据 display_type。"
          },
          "display_type": {
            "type": "string"
          },
          "colors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "level": {
            "type": [
              "integer",
              "null"
            ]
          },
          "rarity": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "text_lang": {
            "type": "string",
            "enum": [
              "zh",
              "ja",
              "en"
            ]
          },
          "art_lang": {
            "type": "string",
            "enum": [
              "zh",
              "ja",
              "en"
            ]
          },
          "effective_text_lang": {
            "type": "string",
            "enum": [
              "zh",
              "ja",
              "en"
            ]
          },
          "effective_art_lang": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "zh",
              "ja",
              "en",
              null
            ]
          }
        },
        "required": [
          "id",
          "code",
          "name",
          "canonical_type",
          "display_type",
          "colors",
          "level",
          "rarity",
          "image_url",
          "text_lang",
          "art_lang",
          "effective_text_lang",
          "effective_art_lang"
        ],
        "additionalProperties": false
      },
      "CardDetail": {
        "type": "object",
        "properties": {
          "card": {
            "$ref": "#/components/schemas/CardSummary"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "value": {
                  "type": "string",
                  "description": "一律为字符串,数值字段也已转成字符串。"
                }
              },
              "required": [
                "key",
                "label",
                "value"
              ],
              "additionalProperties": false
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "variant": {
                  "type": "string"
                },
                "lang": {
                  "type": "string",
                  "enum": [
                    "zh",
                    "ja",
                    "en"
                  ]
                },
                "url": {
                  "type": "string"
                }
              },
              "required": [
                "variant",
                "lang",
                "url"
              ],
              "additionalProperties": false
            }
          },
          "rulings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "lang": {
                  "type": "string",
                  "enum": [
                    "zh",
                    "ja",
                    "en"
                  ]
                },
                "question": {
                  "type": "string"
                },
                "answer": {
                  "type": "string"
                }
              },
              "required": [
                "lang",
                "question",
                "answer"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "card",
          "fields",
          "images",
          "rulings"
        ],
        "additionalProperties": false,
        "description": "fields 由 buildCardView + visibleFields 生成:先按该卡类型的印刷顺序,再追加该类型通常没有、但这张卡确实有值的字段。不按类型隐藏异常字段。图片 URL 不带认证。"
      },
      "Issue": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "OVER_LIMIT",
              "BANNED_PAIR"
            ]
          },
          "message": {
            "type": "string"
          },
          "card_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "code",
          "message",
          "card_ids"
        ],
        "additionalProperties": false,
        "description": "现行禁限表对这副卡组的意见。只报告,不自动修改卡组。"
      },
      "DeckSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "owner": {
            "$ref": "#/components/schemas/Owner"
          },
          "locked": {
            "type": "boolean"
          },
          "pinned": {
            "type": "boolean"
          },
          "cover_image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "main_count": {
            "type": "integer",
            "minimum": 0
          },
          "egg_count": {
            "type": "integer",
            "minimum": 0
          },
          "missing_count": {
            "type": "integer",
            "minimum": 0
          },
          "issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Issue"
            }
          }
        },
        "required": [
          "id",
          "name",
          "owner",
          "locked",
          "pinned",
          "cover_image_url",
          "main_count",
          "egg_count",
          "missing_count",
          "issues"
        ],
        "additionalProperties": false
      },
      "DeckCard": {
        "type": "object",
        "properties": {
          "card": {
            "$ref": "#/components/schemas/CardSummary"
          },
          "quantity": {
            "type": "integer",
            "minimum": 0
          },
          "purchased": {
            "type": "integer",
            "minimum": 0
          },
          "missing": {
            "type": "integer",
            "minimum": 0
          },
          "owned_control_value": {
            "type": "integer",
            "minimum": 0
          },
          "shared": {
            "type": "boolean"
          },
          "price_yen": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "price_source": {
            "type": [
              "string",
              "null"
            ],
            "description": "manual = 手工价;否则为商店来源名(pao / cardrush)。price_yen 为 null 时也为 null。"
          }
        },
        "required": [
          "card",
          "quantity",
          "purchased",
          "missing",
          "owned_control_value",
          "shared",
          "price_yen",
          "price_source"
        ],
        "additionalProperties": false,
        "description": "purchased 为当前卡组记录；进度以 quantity 封顶。owned_control_value 为共享池 max 拥有数，可能大于本卡组 quantity，购买控制器必须基于该值。price_yen 是按现有价格规则选定的单价，无报价为 null。"
      },
      "Adjustment": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "COPY_LIMIT",
              "BANNED_PAIR",
              "HELD_CAPPED"
            ]
          },
          "message": {
            "type": "string"
          },
          "card_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "requested": {
            "type": [
              "integer",
              "null"
            ]
          },
          "actual": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "code",
          "message",
          "card_id",
          "requested",
          "actual"
        ],
        "additionalProperties": false,
        "description": "服务端与请求不一致的地方。COPY_LIMIT:超过张数上限,已按上限写入;BANNED_PAIR:与卡组中的其他卡禁配,未加入;HELD_CAPPED:已收集数超过共享卡池的需求上限。message 是可直接展示的中文。"
      },
      "DeckDetail": {
        "type": "object",
        "properties": {
          "deck": {
            "$ref": "#/components/schemas/DeckSummary"
          },
          "notes": {
            "type": "string"
          },
          "revision": {
            "type": "string"
          },
          "can_edit": {
            "type": "boolean"
          },
          "cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeckCard"
            }
          },
          "totals": {
            "type": "object",
            "properties": {
              "main_count": {
                "type": "integer",
                "minimum": 0
              },
              "egg_count": {
                "type": "integer",
                "minimum": 0
              },
              "total": {
                "type": "integer",
                "minimum": 0
              },
              "purchased": {
                "type": "integer",
                "minimum": 0
              },
              "missing": {
                "type": "integer",
                "minimum": 0
              },
              "known_missing_price_yen": {
                "type": "number",
                "minimum": 0
              },
              "unpriced_missing_count": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "main_count",
              "egg_count",
              "total",
              "purchased",
              "missing",
              "known_missing_price_yen",
              "unpriced_missing_count"
            ],
            "additionalProperties": false
          },
          "adjustments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Adjustment"
            }
          }
        },
        "required": [
          "deck",
          "notes",
          "revision",
          "can_edit",
          "cards",
          "totals",
          "adjustments"
        ],
        "additionalProperties": false,
        "description": "revision 是不透明的编辑状态版本。覆盖 name / notes / locked、每张卡的数量与已收集,以及同一共享卡池内其他卡组的同类状态和锁定状态;不含置顶、封面、配色、卡包版本、价格、翻译与图片抓取时间 —— 这些改变不会使一次写入变得不安全,放进去只会制造假冲突。GET 时 adjustments 为空;写入成功时可能带有裁剪原因。"
      },
      "CreateDeck": {
        "type": "object",
        "properties": {
          "client_request_id": {
            "type": "string",
            "format": "uuid",
            "description": "客户端生成的 UUID,同时作为新卡组的 id。重试同一个 id 返回已有卡组(200),不重复创建。"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "notes": {
            "type": "string",
            "maxLength": 10000
          }
        },
        "required": [
          "client_request_id",
          "name"
        ],
        "additionalProperties": false
      },
      "PatchDeck": {
        "type": "object",
        "properties": {
          "expected_revision": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "notes": {
            "type": "string",
            "maxLength": 10000
          },
          "locked": {
            "type": "boolean"
          }
        },
        "required": [
          "expected_revision"
        ],
        "additionalProperties": false,
        "anyOf": [
          {
            "required": [
              "name"
            ]
          },
          {
            "required": [
              "notes"
            ]
          },
          {
            "required": [
              "locked"
            ]
          }
        ],
        "description": "锁定时仅允许单独发送 locked:false 解锁；其他字段修改返回 423。"
      },
      "PutCard": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "expected_revision": {
                "type": "string",
                "minLength": 1
              },
              "quantity": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "expected_revision",
              "quantity"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "expected_revision": {
                "type": "string",
                "minLength": 1
              },
              "purchased": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "expected_revision",
              "purchased"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "expected_revision": {
                "type": "string",
                "minLength": 1
              },
              "purchased_delta": {
                "type": "integer",
                "enum": [
                  -1,
                  1
                ]
              }
            },
            "required": [
              "expected_revision",
              "purchased_delta"
            ],
            "additionalProperties": false
          }
        ],
        "description": "每次只执行一种命令。quantity:0 移出当前卡组；purchased 设置控制器拥有数；delta 从 owned_control_value 增减。服务器复用共享池编排及禁限规则，返回实际状态。"
      },
      "CardPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardSummary"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "page_size": {
            "type": "integer",
            "minimum": 0
          },
          "has_more": {
            "type": "boolean"
          }
        },
        "required": [
          "items",
          "page",
          "page_size",
          "has_more"
        ],
        "additionalProperties": false
      },
      "DeckList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeckSummary"
            }
          }
        },
        "required": [
          "items"
        ],
        "additionalProperties": false
      }
    }
  }
}